# Ensure dependencies are installed from the npm Registry instead of GitHub Packages in case you
# have changed the default registry for the `@doist` scope in a parent `.npmrc` file
@doist:registry=https://registry.npmjs.org/

# Refuse to install any package incompatible with the current Node.js version
engine-strict=true

# Save dependencies with an exact version rather than the semver range
save-exact=true
