{
    "branches": [
        "main",
        {
            "name": "experimental",
            "prerelease": true
        }
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "conventionalcommits"
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits"
            }
        ],
        "@semantic-release/changelog",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "npx prettier --write CHANGELOG.md"
            }
        ],
        "@semantic-release/npm",
        "@semantic-release/git",
        "@semantic-release/github",
        [
            "@semantic-release/exec",
            {
                "verifyConditionsCmd": "echo \"package-published=false\" >> $GITHUB_OUTPUT",
                "successCmd": "echo \"package-published=true\" >> $GITHUB_OUTPUT"
            }
        ]
    ]
}
