.toolbarContainer {
    border: solid 1px var(--storybook-theme-appBorderColor);
    border-bottom: 0;
    border-radius: var(--storybook-theme-appBorderRadius) var(--storybook-theme-appBorderRadius) 0 0;
    box-shadow: var(--typist-editor-decorator-default-shadow);
    display: flex;
    flex-wrap: wrap;
    gap: var(--storybook-theme-spacingXsmall);
    justify-content: center;
    margin: 0 var(--storybook-theme-spacingLarge);
    padding: var(--storybook-theme-spacingXsmall);
}

.toolbarButton {
    align-items: center;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: var(--storybook-theme-appBorderRadius);
    color: var(--storybook-theme-actionColor);
    cursor: pointer;
    display: flex;
    width: 26px;
    height: 26px;
    justify-content: center;
    padding: 0;
    transition:
        color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.toolbarButton:hover:not(:disabled),
.toolbarButton:focus-visible:not(:disabled),
.toolbarButton[aria-pressed='true'] {
    background-color: var(--storybook-theme-actionHoverBackground);
}

.toolbarButton:active:not(:disabled) {
    transform: scale(0.97);
}

.toolbarButton:disabled {
    color: var(--storybook-theme-actionDisabledColor);
    cursor: not-allowed;
}

.toolbarButton > svg {
    width: 16px;
    height: 16px;
    pointer-events: none;
}

.withDividerBefore {
    position: relative;
    margin-left: calc(var(--storybook-theme-spacingXsmall) * 2 + 1px);
}

.withDividerBefore::before {
    content: '';
    background-color: var(--storybook-theme-appBorderColor);
    position: absolute;
    top: 0;
    left: calc(var(--storybook-theme-spacingXsmall) * -2);
    width: 1px;
    height: 100%;
}
